version: "3.8"

services:
  app:
    image: pbhaskar03/devops-app:latest
    container_name: app_container
    restart: always
    networks:
      - webnet
    expose:
      - "3000"

  nginx:
    image: nginx:stable
    container_name: nginx_reverse
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "80:80"
    depends_on:
      - app
    networks:
      - webnet
    restart: always

  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower
    restart: always
    command: --cleanup --interval 300
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - webnet

networks:
  webnet:
    driver: bridge
